body{
	/*padding: 15px;*/
}

.header{
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 10px;
	padding-top: 15px;
	margin-bottom: 25px;
	background-color: #f9f9f9;
}

.headerText{
	font-family: Raleway, sans-serif;
	font-size: 38px;
	font-weight: 700;
}

h1{
	font-family: Raleway, sans-serif !important;
	font-weight: 700 !important;
	font-size: 40px !important;
}

hr{
	border-top: 1px solid #E7E7E7 !important;
}

h2{
	font-family: Raleway, sans-serif !important;
	/*margin-left: 25px;*/
	margin-top: 30px !important;
}

h2.largerh2{
	font-size: 40px;
	display: inline;
}

p{
	padding-left: 10px;
	font-size: 20px;
	font-weight: 500;
}

.bar {
  fill: #ff5700;
}

.scoresChart .bar{
	fill: #ff4500;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.chartCaption{
	margin: 0 0 30px 20px; font-size: 12pt
}

.domainBubbles circle:hover{
	cursor: pointer;
}

.resetBTN{
	display: none;
}

.titleChart .bar, .rankChart .bar{
	cursor: pointer;
}

.titleChart .bar:hover, .rankChart .bar:hover{
  fill: #BA3F00;
}

.tooltip-inner {
    white-space:pre-wrap !important;
}

.notebookSection{
	margin-left: 20px;
	margin-bottom: 30px;
}

.notebookSection h4{
	font-size: 16pt;
	margin-bottom: 5px !important;
}

.notebookSection hr{
	margin-top: 0 !important;
}

.viewV{
	font-size: 16px;
}